html,
body {
	height: 100%;
}

#cakephp-global-navigation li.main {
	background: transparent url('../csfnavbar/css/main-link.png') 0px 4px no-repeat;
}

/* Header elements */
.header-backing {
	height: 250%;
}
.navigation-header {
	background: #BD8A5D;
	padding: 5px;
}
.navigation-header a,
.navigation-header {
	font-family: MuseoSlab500, Helvetica, Arial;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
}
.navigation-header ul {
	list-style: none;
	margin: 0;
}
.navigation-header li {
	display: inline;
}
.navigation-header a {
	padding: 5px 10px;
	margin: 0 5px 0 0;
}
.navigation-header .on {
	background: #fff;
	color: #BD8A5D;
}
.masthead img {
	margin-top: 5px;
}

/* Searchbox */
.header-search form {
	margin: 25px 0;
}
.search-input {
	width: 80%;
	font-size: 16px;
	padding: 5px 0;
	margin:  0 3% 0 0;
	height: 32px;
	border: none;
	-webkit-appearance: textfield;
	vertical-align: top;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.header-search .submit {
	margin: 0;
	padding: 6px 2px;
	font-size: 16px;
	width: 90px;
	vertical-align: top;
}
/* tablet and smaller */
@media only screen and (max-width: 767px) {
	.masthead .button { 
		display: inline !important;
	}

	.masthead img {
		margin-left: 10%;
		margin-top: 9px;
	}
	
	.header-search form {
		margin: 10px 10px 0;
		clear: none;
	}
	.search-input {
		width: 100%;
	}
	.header-search .submit {
		padding: 9px 2.5%;
		float: left;
		clear: none;
		height: 36px;
		width: 43.5%;
		margin: 9px 0;
		font-size: 14px;
	}

}

/* Containers */
#container {
	min-height: 100%;
	margin-bottom: -94px
}
#content {
	padding-top: 20px;
}
.footer,
.footer-push {
	clear: both;
	height: 94px;
}


/**
 * Forms
 */
.form-field {
	margin-bottom: 9px;
}
.example {
	color: #888;
	font-size: 10px;
}
.inline {
	display: inline;
}
.required label:after {
	content: ' * ';
	color: #C92434;
	display: inline;
}

.gutter-bottom {
	margin-bottom: 20px;
}

/** Metadata for pastes **/
.paste-metadata dt {
	color: #BD8A5D;
}
.paste-metadata dd {
	margin-bottom: 10px;
}
/** List metadata is a bit different */
.paste-item .paste-metadata dt {
	float: left;
	clear: left;
	margin-right: 5px;
}
