/* Cakebin Style Overrides */
* { 
outline: none;
}
body {
margin: 2px 0 10px 2px;
padding: 0;
color: #444;
font-family: 'Courier', 'Courier New', 'Andale Mono', 'Monaco', sans-serif;
font-size: 100%;
letter-spacing: 0.02em;
background: #2F6466;
}

h1, h2, h3, h4, h5 {
background: transparent;
font-weight: bold;
}
h1{
margin: 0;
font-size: 150%;
}
h2{
margin-top: 8px;
padding-top: 8px;
font-size: 170%;
}
h3{
font-size: 140%;
}
h4{
font-size: 140%;
}
.clear {
clear: both;
height: 0;
line-height: 0;
margin: 0;
padding: 0;
}
.left {
float: left;
overflow: hidden;
}
.right {
float: left;
overflow: hidden;
}
/* Layout */
#container {
padding: 0 0 8px 0;
width: 960px;
text-align: center;
background: #fff url('images/body_bg.jpg') repeat-x top;
overflow: hidden;
border-right: 3px #e6e6e6 solid;
}
#header {
clear:both;
margin: 0;
margin-left: 0px;
padding: 8px 12px;
height:100px;
color: #2F6466;
background: transparent;
text-align: left;
}
#header h1 a {
padding: 16px 0 20px 0;
display:block;
font-size: 160%;
font-weight: bold;
text-indent: 90px;
background: transparent url('images/logo-mini2.gif') no-repeat;
color: #2F6466;
text-decoration: none;
}
#header h1 a:hover {
text-decoration: underline;
}
#header h1 em {
font-style: normal;
font-size: 60%;
}
#header .links {
margin-top: -10px;
margin-left: 94px;
}
#header .links a {
font-size: 120%;
font-weight: bold;
color: #2F6466;
text-decoration: none;
padding: 0 14px;
}
#header .links a:hover {
color: #2F6466;
background:#e0e0e0;
}
#header .links .on {
color:#e0e0e0;
}
#main {
padding-bottom: 8px;
min-height: 320px;
overflow: hidden;
}
#content {
margin: 0 8px 0 28px;
padding: 0;
float: left;
overflow: hidden;
background: transparent;
text-align: left;
min-height: 200px;
}
.contentindex, .contentsearch, .contentshow, .contentsaved, .contentnick {
width: 680px;
}
#footer {
background: #f2f2f2;
border-top: 2px solid #f4f4f4;
border-bottom: 2px solid #f4f4f4;
margin-top: 3em;
margin-bottom: 0.5em;
}
#footer p {
text-align: left;
padding: 4px;
margin-right: 320px;
font-size: 75%;
}

/* Navagation Tabs (not used)*/
#tabs {
clear: both;
margin-left: 40px;
padding-left: 90px;
text-align: left;
background: #2F6466;
}

#tabs ul {
padding: 0.2em;
list-style-type: none;
background: #2F6466;
}

#tabs li {
margin: 0;
display: inline;
border-right: 1px solid #fff;
}

#tabs a {
padding: 0.2em 0.8em;
color: #fff;
background-color: #2F6466;
text-decoration: underline;
}

#tabs a:hover, #tabs a.on  {
color: #003d4c;
background-color: #fff;
text-decoration: none;
}

/* Forms */
form {
float: none;
}
label em {
color: #003d4c;
font-weight: normal;
font-size: 75%;
}
.required {
background: #E9F0CA;
overflow:hidden;
}
.optional {
overflow:hidden;
}
.submit {
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
}
.submit input {
font-size: 120%;
font-weight: bold;
padding: 0 8px;
}
.right label {
width: auto;
}
.right .required {
width: 280px;
}
.right .optional {
width: 280px;
}

/* Views */
.pastes a {
color: #444;
background: #fff;
text-decoration: none;
display: block;
overflow: hidden;
}
.pastes a:hover {
color: #444;
background: #f2f2f2;
}
.pastes .left {
display: block;
overflow: auto;
margin-right: 6px;
width: 112px;
}
.pastes .date {
font-weight: bold;
background: #e2e2e2;
}
.pastes .nick {
padding: 0 8px;
font-size: 145%;
}
.pastes .lang {
display: block;
font-size: 85%;
}
.pastes .note {
display: block;
margin-left: 8px;
margin-bottom: 4px;
margin-bottom: 18px;
overflow: hidden;
}

ul.pagenumbers {
margin-top: 20px;
clear: both;
float: right;
list-style-type: none;
display: inline;
width: 300px;
}
ul.pagenumbers li {
list-style-type: none;
display: inline;
}
ul.pagenumbers a {
display: inline;
background: #fff;
text-decoration: none;
padding: 0 8px;
}
ul.pagenumbers a:hover {
background: #f2f2f2;
}

.paste dl {
background: #f4f4f4;
margin:0;
padding: 0 10px;
overflow: hidden;
width: 882px;
}
.paste dt a {
color: #444;
font-weight: normal;
font-size: 75%;
}
.paste a:hover {
color: #444;
background: #f2f2f2;
}
.paste #tags {
font-size: 85%;
margin-left: 11.8em;
padding-left: 0.8em;
padding-top: 0px;
line-height: 1.4em;
margin-bottom: 10px;
}
.paste #tags a {
white-space: nowrap;
}
.paste .note {
clear: both;
display: block;
font-size: 80%;
padding: 6px 0px 10px 10px;
overflow: hidden;
width: 890px;
background: #f8f8f8;
}
.paste strong {
display: block;
font-size: 130%;
}
.paste .body {
clear: both;
font-size: 12px;
padding: 6px 0 6px 6px;
overflow: auto;
background: #f8f8f8;
width: 894px;
}
.paste .body ol, .paste .body li {
margin-left: 12px;
}
.paste .body .foot{
margin-top: 8px;
}
#saved {
background: #f4f4f4 url('images/content_bg.jpg') repeat-y right;
padding-bottom: 4px;
}
#saved dl {
width: 650px;
}
#saved .note {
width: 658px;
}
#saved .body {
width: 662px;
}
span.saved {
float: right;
color: #900;
font-weight: bold;
}

/* Elements */
#search {
float: left;
margin-top: 20px;
margin-left: 10px;
text-align: left;
width: 210px;
}
#tagcloud {
float: left;
margin-top: 20px;
margin-left: 10px;
text-align: left;
width: 210px;
}
#tagcloud a {
text-decoration: none;
white-space: nowrap;
}
#tagcloud a:hover {
color: #444;
background: #e0e0e0;
}
#recent, #original, #versions {
float: left;
margin-top: 20px;
margin-left: 10px;
text-align: left;
width: 210px;
overflow: hidden;
}
#recent a, #original a, #versions a {
color: #444;
background: #fff;
text-decoration: none;
display: block;
}
#recent a:hover, #original a:hover, #versions a:hover {
color: #444;
background: #f2f2f2;
}
#recent .date, #original .date, #versions .date {
font-size: 65%;
font-weight: bold;
background: #e2e2e2;
}
#recent .nick, #original .nick, #versions .nick {
font-size: 85%;
padding: 0 8px;
}
#recent .note, #original .note, #versions .note {
display: block;
margin-bottom: 8px;
font-size: 65%;
}
#modify {
clear: both;
margin-left: 28px;
text-align: left;
}
.contentedit #modify {
margin-left: 0px;
}
#modify h3 {
padding-top: 16px;
font-size: 160%;
}

.error-message {
	padding: 0;
	margin: 0;
}